/* standard elements */
html {
    font-family : 'Times New Roman', Times, serif;
    color : black;
    margin-left : 2em;
    margin-right : 2em;
}

nav a {
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    border-radius: 5rem;
    border-color: black;
    border-width: 0.15rem;
    border-style: solid;
    padding : 1rem;
}

nav ul li:hover {
    border-color : #71D25D;
    a {
        color : #71D25D;
    }
}

nav ul li a {
    color : black;
}

h1 {
    display : flex;
    justify-content : center ;
    font-size: 3rem;
}

h2 {
    font-size : 2rem;
}

footer {
    margin-top: 1rem;
    border-top: 0.1rem black solid;
    font-size: 0.9rem;
}

/* classes and ids */

#olympic_logo {
    display : block;
    width : 25%;
    margin : auto;
    padding : 2rem;
}

.image_width {
    display: block;
    width : 400%;
    margin-left : auto;
    margin-right : auto;
    padding-right : 2rem;
}

.image_width1 {
    display: block;
    width : 900%;
    margin-left : auto;
    margin-right: 2rem;
}

.flex {
    display: flex;
    justify-content: flex-start;
    flex: 0 0 auto;
}


.eleanor_page {
    display : flex ;
    align-items : center;
}

.inner {
    display: flex ;
    justify-content: flex-end;
    align-items: center;
}

.top5 {
    display: flex;
    justify-content: space-around;
    flex: 1 0 auto;
    padding-right: 2rem;
}



